
@import 'layout';

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #E1E5EE;
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 80vh;
}

main {
	background-color: #fff;
	max-height: 800px;
	height: 35vh;
	
}